rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() { 
        return request.auth != null;
    }
    function isUserAuthenticated(userId) { 
        return isAuthenticated() && userId == request.auth.uid;
    }
    function isValidUser(user) {
        return  'createdAt' in user && user.createdAt is timestamps;
        && 'email' in user && user.email is string;
        && 'userId' in user && user.userId is string;
        && "name" in user && user.name is string;
    }
 　 match /users/{userId} {
        allow update: if isUserAuthenticated(userId); 
        allow create: if isAuthenticated()
        && isValidUser(request.resource.data)
        && request.resource.data.createdAt == request.time 
        && request.resource.data.userId == userId;
        allow read if isAuthenticated()
    }
  }
}